<!-- TITULO -->
<h2 class="Title">Bienvenido {{usuario.nombre}}</h2>
<!-- FORMULARIO DE CREACION DE RESTAURANTE -->
<button id="addRestaurantButton" class="addRestaurante" type="submit">Añadir Restaurante</button>

<form class="hidden" id="profile-container" action="/restaurante" method="POST">
  <label class="profileElement" for="nombre"><b>Nombre del restaurante</b></label>
  <input class="profileElement" type="text" id="nombreRestaurante" name="nombre" />
  
  <p class="profileElement"><b>Direccion</b></p>
  <label class="profileElement" for="calle"><b>Calle</b></label>
  <input class="profileElement" type="text" id="calle" name="calle" />
  <label class="profileElement" for="numero"><b> Numero</b></label>
  <input class="profileElement" type="text" id="numero" name="numero" />
 
  <label class="profileElement" for="horario"><b> Horario</b></label>
  <input class="profileElement" type="text" id="horario" name="horario" />
  
  {{!-- <label for="logo">Logo</label>
  <input type="file" name="logo" >--}}
  <button id="saveRestaurantButton" class="profileElement" type="submit">Guardar Restaurante</button>
</form>




{{#each restaurante}}


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">{{this.nombre}}</h3>
    <p><b> Calle: </b>{{this.direccion.calle}} <b> Numero:</b> {{this.direccion.numero}}</p>
    <p><b>Horario:</b> {{this.horario}}</p>
    <a href="/restaurante/{{this.id}}" class="btn btn-primary">Añadir Menu</a>
  </div>
</div>

{{/each}}
<div>
<img id="socialDistance" src="/images/distanciamiento-social-restaurante_23-2148545623.jpg" alt="Restaurante">
  </div>