<!-- TITULO -->
<h2 id="profileTitle">Bienvenido {{usuario.nombre}}</h2>
<!-- FORMULARIO DE CREACION DE RESTAURANTE -->
<button id="addRestaurantButton" class="addRestaurante" type="submit">Añadir Restaurante</button>

<form class="hidden" id="profile-container" action="/restaurante" method="POST">
  <label class="profileElement" for="nombre"><b>Nombre del restaurante</b></label>
  <input class="profileElement" type="text" id="nombreRestaurante" name="nombre" />

  <p class="profileElement"><b>Direccion</b></p>
  <label class="profileElement" for="calle"><b>Calle</b></label>
  <input class="profileElement" type="text" id="calle" name="calle" />
  <label class="profileElement" for="numero"><b> Numero</b></label>
  <input class="profileElement" type="text" id="numero" name="numero" />

  <label class="profileElement" for="horario"><b> Horario</b></label>
  <input class="profileElement" type="text" id="horario" name="horario" />

  {{!-- <label for="logo">Logo</label>
  <input type="file" name="logo" >--}}
  <button id="saveRestaurantButton" class="profileElement" type="submit">Guardar Restaurante</button>
</form>





<div class="row">

  {{#each restaurante}}
  <div class="col-6 col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h3 class="card-title">{{this.nombre}}</h3>
        <p><b> Calle: </b>{{this.direccion.calle}} <b> Numero:</b> {{this.direccion.numero}}</p>
        <p><b>Horario:</b> {{this.horario}}</p>
        <p><b>PIN:</b> {{this.pin}}</p>
        <a href="/restaurante/{{this.id}}" class="btn btn-primary">Añadir Menu</a>
        <input class="id-editar hidden" value="{{this.id}}">
        <button class="btn button-name-editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <form action="/api/restaurante/{{this.id}}/borrar" method="POST">
          <button class=" btn btn-danger restaurant-delete"><i class="fa fa-trash-o"></i></button>
        </form>
      </div>

    </div>
  </div>
  <div class="popup">
    <span class="popuptext" id="myPopup">
      <div class="form-container">
        <form class="edit-container hidden" id="profile-container" action="/api/restaurante/{{this.id}}/editar"
          method="POST">
          <label class="profileElement" for="nombre"><b>Nombre del restaurante</b></label>
          <input class="profileElement" type="text" id="nombreRestauranteEdit" name="nombre" value="{{this.nombre}}" />
          <p class="profileElement"><b>Direccion</b></p>
          <label class="profileElement" for="calle"><b>Calle</b></label>
          <input class="profileElement" type="text" id="calle" name="calle" value="{{this.direccion.calle}}" />
          <label class="profileElement" for="numero"><b> Numero</b></label>
          <input class="profileElement" type="text" id="numero" name="numero" value="{{this.direccion.numero}}" />

          <label class="profileElement" for="horario"><b> Horario</b></label>
          <input class="profileElement" type="text" id="horario" name="horario" value="{{this.horario}}" />
          {{!-- <label for="logo">Logo</label>
            <input type="file" name="logo" >--}}
          <button id="saveRestaurantButton" class="profileElement" type="submit">Guardar Restaurante</button>
        </form>

      </div>
    </span>
  </div>






  {{/each}}

</div>