 {{> navBarPartial}}

<!-- TITULO -->
<h2 id="creaMenuTitle">Crea tu  Menu para el restaurante: {{ this.restaurante.nombre}}</h2>

<div id="form">

  <h2 class="subTitle">Crea tus categorias</h2>
  <form id="menuCreate" action="/menu/{{restaurante.id}}/crear" method="POST">
    <label for="nombreMenu">Nombre de la categoria</label>
    <input type="text" id="nombreCategoria" name="nombreCategoria" />
     <input type="hidden"  id="idRestaurante" name="idRestaurante" value="{{restaurante.id}}"> 
    <button type="submit">Guardar menu </button>

  </form>
</div>

<ul id="menu-listing">
{{#each categoria}}


<div class="crudOpsContainer">
  <li id="menuName">{{this.nombreCategoria}}</li>
<a class="editLink" href="/menu/{{this._id}}/editar">Editar</a>
<form action="/restaurante/{{this._id}}/borrar" method="POST">
<button type="submit">Borrar</button>
</form>
</div>
{{/each}}
</ul>
