<!-- TITULO -->
<h2 id="creaMenuTitle">Crea tu  Menu para el restaurante: {{ this.restaurante.nombre}}</h2>

<div id="form">

  <h2 class="subTitle">Crea tu  Menu</h2>
  <form id="menuCreate" action="/menu/{{restaurante.id}}/crear" method="POST">
    <label for="nombreMenu">Nombre del Menú</label>
    <input type="text" id="nombreMenu" name="nombreMenu" />
     <input type="hidden"  id="idRestaurante" name="idRestaurante" value="{{restaurante.id}}"> 
    <button type="submit">Guardar menu </button>

  </form>
</div>

<ul id="menu-listing">
{{#each menus}}



<div class="crudOpsContainer">
  <li id="menuName">{{this.nombreMenu}}</li>
<a class="editLink" href="/menu/{{this.id}}/editar">Editar</a>
<form action="/menu/{{this._id}}/borrar" method="POST">
<button type="submit">Borrar</button>
</form>
</div>
{{/each}}
</ul>
