<h2>EDITA TU MENU</h2>

<form action="/menu/{{idMenu}}" method="POST">
    <label for="">Nombre del menu</label>
    <input type="text"  id="nombreMenu" name="nombreMenu" value="{{menu.nombreMenu}}">   
    <button type="submit">Guardar</button>
</form> 

<br>

<form action="/elemento" method="POST">
    <label for="">Elemento</label>
    <input type="text"  id="elementoMenu" name="nombre">   
    <label for="">Precio</label>
    <input type="text"  id="precio" name="precio">  
    <input type="hidden"  id="precio" name="idMenu" value="{{idMenu}}">  
    <button type="submit">Guardar</button>
</form> 

<ul>
{{#each elementosMenu}}
<li>
{{this.nombre}}
{{this.precio}}
<a href="/elemento/{{this._id}}/editar">Editar</a>
<form action="/elemento/{{this._id}}/borrar" method="POST">
<button type="submit">Borrar</button>
</form>
</li>
<br>
{{/each}}
</ul>
