<div>
    {{> navBarPartial}}
</div>
<!-- TITULO -->
<h2 class="Title">Edita Categoria: {{this.categoria.nombreCategoria}}</h2>


<div id="center-container">
    <form id="editName" action="/menu/{{this.categoria.id}}" method="POST">
        <label for=""><b> Nombre de la categoria</b></label>
        <input type="text" id="nombreMenu" name="nombreCategoria" value="{{this.categoria.nombreCategoria}}">
        <button class="button" type="submit">Guardar</button>
    </form>

    <br>
    <!-- FORMULARIO EDITAR ELEMENTO MENU -->
    <form id="editElementPrice" action="/elemento" method="POST">
        <label for=""><b> Elemento</b></label>
        <input type="text" id="elementoMenu" name="nombre">
        <br>
        <br>
        <label for="" id="price-element"><b> Precio</b></label>
        <input type="text" id="precio" name="precio">
        <input type="hidden" id="categoria" name="idCategoria" value="{{this.categoria.id}}">
        <br>
        <br>
        <button class="button" type="submit">Guardar</button>
    </form>
</div>
<!-- ELEMENTOS MENU -->
<ul id="element-listing">
    {{#each elementosMenu}}
    <div class="crudOpsContainer">
        <li id="crudElement">
            <span class="elemento-nombre">{{this.nombre}}</span>
            <span class="elemento-precio">{{this.precio}} €</span></li>

        <button class="btn button-elemento-editar" data-toggle="modal" data-target="#exampleModal"><i
                class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <form action="/elemento/{{this._id}}/borrar" method="POST">
            <button class="button button-remove-element" type="submit">Borrar</button>
        </form>

        <form action='/elemento/{{this.id}}/editar' method="POST">
            <input type="text" id="edit-element" class="input-edit-elemento hidden" name="nombre"
                value="{{this.nombre}}">
            <input type="text" id="edit-precio" class="input-edit-element-precio hidden" name="precio"
                value="{{this.precio}}">
            <button type="submit" class="btn btn-primary editar-elemento hidden">Guardar</button>
        </form>

    </div>
    {{/each}}
</ul>
<!-- LINK VOLVER -->
<div id="backLink">
    <a href="/restaurante/{{categoria.idRestaurante}}">Volver a mis categorias</a>
</div>