<!-- TITULO -->
<h2 id="editMenuTitle">Edita tu menu : {{this.menu.nombreMenu}}</h2>

<div id="center-container">
    <form id="editName" action="/menu/{{this.menu.id}}" method="POST">
        <label for=""><b> Nombre del menu</b></label>
        <input type="text" id="nombreMenu" name="nombreMenu" value="{{this.menu.nombreMenu}}">
        <button type="submit">Guardar</button>
    </form>

    <br>
<!-- FORMULARIO EDITAR ELEMENTO MENU -->
    <form id="editElementPrice" action="/elemento" method="POST">
        <label for=""><b> Elemento</b></label>
        <input type="text" id="elementoMenu" name="nombre">
        <br>
        <label for="" id="price-element"><b> Precio</b></label>
        <input type="text" id="precio" name="precio">
        <input type="hidden" id="precio" name="idMenu" value="{{idMenu}}">
        <br>
        <button type="submit">Guardar</button>
    </form>
</div>
<ul id="element-listing">
    {{#each elementosMenu}}
    <div class="crudOpsContainer">
    <li>
        {{this.nombre}}
        {{this.precio}} $</li>
        <br>
        <a class="editLink" href="/elemento/{{this._id}}/editar">Editar</a>
        <form action="/elemento/{{this._id}}/borrar" method="POST">
            <button type="submit">Borrar</button>
        </form>
    
   </div>
    {{/each}}
</ul>

    <a href="/restaurante/{{menu.idRestaurante}}">Volver a mis menús</a>