<div class="container">
<h1 class="Title">{{restaurante.nombre}}</h1>

{{#each menus}}
  {{this.nombre}}
  {{#each this.categorias}}
  <div class="menu-page">
    <button class="menu-name">{{this.nombre}}nombre</button>
    <div class="hidden menu-container">
      {{#each this.elementos}}
      <br>
      <div id="element">{{this.nombre}}ELEMENTO</div>
      <div id="prize"> {{this.precio}} €</div>
      {{/each}}
    </div>
  </div>

  <br>

  {{/each}}
 {{/each}} 
</div>