<div class="container">

  <h1 class="Title">{{restaurante.nombre}}</h1>
  <img src="{{restaurante.logoUrl}}">
  {{#each menus}}


  {{#if this.isCarta}}
  {{#each this.categorias}}
  <div class="menu-page">
    <button class="menu-name">{{this.nombre}}</button>
    <div class="hidden menu-container">
      {{#each this.elementos}}
      <br>
      <div id="element">{{this.nombre}}</div>
      <div id="prize"> {{this.precio}} €</div>
      {{/each}}
    </div>
  </div>

  <br>
  {{/each}}

  {{else}}

  <button class="menu-name">{{this.nombre}} </button>
  <div class="hidden menu-container">
    {{#each this.categorias}}
    <h2>{{this.nombre}}</h2>
    {{#each this.elementos}}
    <br>
    <div id="element">{{this.nombre}} </div>
    {{/each}}

    {{/each}}
    {{this.infoMenu}}
    <br>
    {{this.precio}}€
    {{/if}}
    {{/each}}
  </div>
</div>